@import "./utils/smart-grid"
@import "./utils/libs"
@import "./utils/vars"
@import "./utils/mixins"
@import "./utils/fonts"
@import "./utils/reset"
@import "../../blocks/**/*.styl"
@import "./ui-kit"


reset()

.wrapper
	wrapper()

.row
	row-flex()
  
body
	$fontBODY()