//colors

$dark100 = #1F2041
$dark75 = rgba(31, 32, 65, 0.75)
$dark50 = rgba(31, 32, 65, 0.5)
$dark25 = rgba(31, 32, 65, 0.25)
$dark5 = rgba(31, 32, 65, 0.05)
$purple = #BC9CFF
$green = #6FCF97
$blue = #8BA4F9
$arrow_gradient = linear-gradient(180deg, $purple 0%, $blue 100%)


//fonts

$fontH1()
	font: bold 24px Quicksand, sans-serif
	line-height: 30px
	color: $dark100
$fontH2()
	font: bold 19px Quicksand, sans-serif
	line-height: 24px
	color: $dark100
$fontH3()
	font: bold 12px Montserrat, sans-serif
	line-height: 15px
	text-transform: uppercase
	color: $dark100
$fontBODY()
	font: normal 14px Montserrat, sans-serif
	line-height: 24px
	color: $dark75