.expandable-checkbox-list
	width: 100%
	&__title-block
		display: flex
		justify-content: space-between
		width: 100%
	&__title
		$fontH3()
	&__arrow-wrap
		width: 44px
		display: flex
		justify-content: center
