.bullet-list
	&__main-title
		$fontH3()
		margin-bottom: 6px
	&__items
		$fontBODY()
	&__item
		margin-top: 10px
		display: flex
		flex-wrap: wrap
		&-text
			max-width: 240px
		&:before
			content: ''
			display: inline-block
			width: 10px
			height: 10px
			background-color: $dark25
			margin-right: 0.7em
			border-radius: 5px
			margin-top: 0.5em
			