.checkbox-list
	width: 100%
	.expandable-checkbox-list &__title-block
		cursor: pointer
	&__title-block
		display: flex
		justify-content: space-between
		width: 100%
		padding-bottom: 6px
	&__title
		$fontH3()
	&__arrow-wrap
		width: 44px
		display: flex
		justify-content: center
	&__arrow-svg
		transition: all 1s ease
	&__arrow-svg_active
		transform: rotate(180deg)
	.expandable-checkbox-list &__list-wrapper
		display: none
	&__list-item
		margin-top: 11px
	&__label-item
		cursor: pointer
		display: flex
		align-items: flex-start
	&__content-item
		width: 100%
		color: $dark50
		font-size: 14px
		line-height: 16px
		margin-top: 0.2em
	&__content-item-title
		font-weight: bold
		color: $dark75
		margin-bottom: 5px
	&__content-item-descr
		font-size: 12px
		line-height: 14px
		color: $dark50
	&__mark-item
		position: relative
		border: 1px solid $dark25
		border-radius: 4px
		display: inline-block
		width: 20px
		height: 20px
		vertical-align: middle
		margin-right: 10px
		transition: all 0.5s ease
		&:after
			content: ''
			opacity: 0
			transform: scale(0) rotate(-45deg)
			transition: all 0.5s ease
			height: 4px
			width: 6px
			border-color: transparent
			border-style: solid
			border-image: $arrow_gradient
			border-image-slice: 1
			border-width: 0 0 3px 3px
			position: absolute
			left: 28.5%
			top: 27%
	&__input-item
		position: absolute
		visibility: hidden
		&:hover + .checkbox-list__mark-item 	
			border-color: $purple
		&:checked + .checkbox-list__mark-item 	
			border-color: $purple
			&:after
				transform: scale(1) rotate(-45deg)
				opacity: 1
				
			